@font-face {
    font-family: "Bookman";
    src: url(../fonts/Bookman-Old-Style.ttf) format("truetype");
}

@font-face {
    font-family: "Bookman Bold";
    src: url(../fonts/Bookman-Old-Style-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova-Regular.eot?) format("eot"), url(../fonts/ProximaNova-Regular.woff) format("woff"), url(../fonts/ProximaNova-Regular.ttf) format("truetype"), url(../fonts/ProximaNova-Regular.svg#ProximaNova-Regular) format("svg")
}

@font-face {
    font-family: "ProximaNova Bold";
    src: url(../fonts/ProximaNova-Bold.eot?) format("eot"), url(../fonts/ProximaNova-Bold.woff) format("woff"), url(../fonts/ProximaNova-Bold.ttf) format("truetype"), url(../fonts/ProximaNova-Bold.svg#ProximaNova-Bold) format("svg")
}

body {
    position: relative;
    margin: 0px;
    font-size: 18px;
    color: rgb(51, 51, 51);
    line-height: 1.111;
    font-family: "ProximaNova";
}
body.loading {
	overflow: hidden;
}
button::-moz-focus-inner { border: 0; }

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.bold-text {
    font-family: "Bookman Bold";
    font-weight: 600;
}

a {
    cursor: pointer;
}

.btn {
    max-width: 278px;
    width: 268px;
    height: 48px;
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    border: 3px solid #C59D5F;
    background-color: #C59D5F;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

.btn,
.btn:focus,
.btn:active,
.btn:visited,
.form-input,
.form-input:focus {
    outline: none;
}

.transparent-btn {
    background-color: transparent;
    color: #ECB661;
    border-color: #ECB661;
    width: 278px;
}

.transparent-btn:hover {
    background-color: #ECB661;
    color: #FFFFFF;
}

.btn,
.navbar ul li,
a,
.navbar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-input {
    width: 270px;
    max-width: 278px;
    height: 50px;
    padding: 0px 10px;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    font-family: "ProximaNova";
    border: none;
    background-color: rgba(153, 153, 153, 0.4);
    box-shadow: 0px 3px 0px 0px rgba(197, 157, 95, 0.6);
    color: rgb(204, 204, 204);
    box-sizing: border-box;
}
.form-input.error-field {
    box-shadow: 0px 3px 0px 0px rgba(255, 0, 0, 0.6);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}
input[type="checkbox"] + label a {
	font-size: 18px;
}

input[type="checkbox"] + label:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 20px;
    height: 20px;
    border: 3px solid #C59D5F;
}
input[type="checkbox"].error-field + label:before {
    border: 3px solid #FF0000;
}
input[type="checkbox"]:checked + label:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 6px;
    left: -5px;
    width: 14px;
    height: 5px;
    border: 3px solid #C59D5F;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.landing-block {
    padding-left: calc((100% - 1140px) / 2);
    padding-right: calc((100% - 1140px) / 2);
}

@media(max-width: 1200px) {
    .landing-block {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.block-title {
    margin: 0.67em 0 5px 0;
    text-align: center;
    font-size: 36px;
    font-family: "Bookman Bold";
    font-weight: 600;
    color: rgb(51, 51, 51);
}

.section-description {
    font-size: 24px;
    color: rgb(153, 153, 153);
    text-align: center;
}

@media(max-width: 500px) {
    .block-title {
        font-size: 30px;
    }
    .section-description {
        font-size: 20px;
    }
}

.bordered-block {
    position: relative;
    border: 3px solid #C59D5F;
    box-sizing: border-box;
}

.bordered-block h3 {
    margin: 0;
    font-size: 24px;
    color: #C59D5F;
    line-height: 1.5;
    text-align: center;
}

.bordered-block.on-border-title {
    border-top: none;
}

.bordered-block.on-border-title h3 {
    position: absolute;
    top: -20px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    font-family: "ProximaNova Bold";
}

.bordered-block.on-border-title h3:before,
.bordered-block.on-border-title h3:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #C59D5F;
    border: solid transparent;
    border-width: 0 10px;
}

.bordered-block.on-border-title h3:before {
    margin-left: -100%;
}

.bordered-block.on-border-title h3:after {
    margin-right: -100%;
    margin-left: 5px;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

@media(max-width: 768px) {
	.modal {
		padding-top: 5%;
	}
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    max-width: 600px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-content h2 {
    max-width: 300px;
    margin: 0px auto 20px auto;
}

/* The Close Button */
.modal-close {
    color: #C59D5F;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-align: right;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
}

.modal-content form .form-input {
    color: #000000;
}
@media(max-width: 400px) {
    .modal-content form .form-input, .modal-content form .btn, .modal-content form .checkbox-container {
        width: 100%;
    }
}
    

.modal-content form a,
.modal-content form a:hover,
.modal-content form a:active,
.modal-content form label {
    color: #000000;
}
.modal-content form .checkbox-container {
    max-width: 300px;
}

body.loading .preloader-lightbox {
	display: block;
}
.preloader-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.picture-lightbox {
	padding-top: 0px;
}
.picture-lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 90%;
}

.confidence-lightbox {
	padding-top: 0;
}
.confidence-lightbox .modal-content {
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
}

.confidence-lightbox h4 {
    margin: 10px 0;
}
.confidence-lightbox .btn {
	width: 100%;
}
header {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0px;
}

.mobile-view {
    display: none;
}

.logo-block {
    position: absolute;
    left: 20px;
    top: 20px;
}

.burger-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    height: 20px;
    margin-left: 25px;
    cursor: pointer;
    webkit-transition: -webkit-transform .4s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;
    -o-transition: transform .4s cubic-bezier(0.645, 0.045, 0.355, 1) .3s, -o-transform .4s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;
    transition: transform .4s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;
}

.burger-menu span {
    position: relative;
    display: block;
    width: 32px;
    height: 3px;
    margin-top: 10px;
    background-color: #C59D5F;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.burger-menu span:before,
.burger-menu span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #C59D5F;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.burger-menu span:before {
    -webkit-transform: translateY(-270%);
    transform: translateY(-270%);
}

.burger-menu:hover span:before {
    -webkit-transform: translateY(-370%);
    transform: translateY(-370%);
}

.burger-menu span:after {
    -webkit-transform: translateY(270%);
    transform: translateY(270%);
}

.burger-menu:hover span:after {
    -webkit-transform: translateY(370%);
    transform: translateY(370%);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 22px;
    margin: 0px;
    cursor: pointer;
    font-size: 0;
}

.navbar li a {
    font-size: 12px;
}

.navbar li.active a,
.navbar li:hover a {
    font-weight: 600;
}

.navbar li.call-me-link a {
    font-weight: 600;
    color: #C59D5F;
}

.navbar li,
.main-block .block-title,
.main-block h1 {
    text-transform: uppercase;
}

.navbar li a,
.navbar li a:visited,
.navbar li a:active,
.navbar li a:hover,
.navbar li a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.main-block .block-title,
.main-block .section-description {
    color: #FFFFFF;
}

@media(max-width: 1150px) {
    .navbar li {
        padding: 5px 10px;
    }
}

@media(max-width: 900px) {
    .mobile-view {
        display: block;
    }
    .navbar .logo-item {
        display: none;
    }
    .navbar {
        position: relative;
        right: 0px;
        width: 100%;
        min-width: 250px;
        margin-left: auto;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.96);
    }
    .navbar ul li {
        display: block;
        padding: 20px;
    }
    .navbar ul li:hover {
        background-color: rgba(153, 153, 153, 0.4);
        box-shadow: 0px 3px 0px 0px rgba(197, 157, 95, 0.6);
    }
    .navbar li a {
        font-size: 18px;
    }
    .navbar:not(.dropdown-view) {
        height: 0px;
        overflow: hidden;
    }
}

.navbar.dropdown-view {
    overflow: visible;
    padding-bottom: 10px;
}

.main-block {
	position: relative;
    height: 648px;
    padding: 50px;
    background: url("../img/main-grindstone.jpg") no-repeat top center;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-block:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.main-block-content {
	position: relative;
	z-index: 5;
    padding-top: 125px;
    width: 100%;
}

.main-block .block-title {
    font-size: 30px;
    margin: 0;
}

.main-block h1 {
    color: #ECB661;
    font-family: "Bookman Bold";
    font-size: 38px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-block .section-description {
    font-size: 22px;
    margin: 25px 0;
}

.main-block .btn {
    margin-top: 35px;
}

@media(max-width: 500px) {
    .main-block h1 {
        font-size: 32px;
    }
    .block-title {
        font-size: 30px;
    }
    .main-block .section-description {
        font-size: 20px;
    }
}
.bg-video-container {
	position: absolute;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	display: block; 
	width: 100%; 
	height: 100%; 
	overflow: hidden;
}

.bg-video-container > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto; 
}

@media(max-width: 768px) {
	.bg-video-container {
		display: none;
	}
}




.about-mill-block {
    margin-top: 57px;
    padding-bottom: 82px;
    text-align: center;
    overflow-x: hidden;
}

.about-mill-block .mill-ingredients {
    margin-bottom: 37px;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.mill-ingredients > div {
    flex: 1 1 50%;
    min-width: 50%;
    max-width: 50%;
    position: relative;
}

.picture-block img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.mill-ingredients .first-block img {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
}

.mill-ingredients .picture-block {
    height: 322px;
}

.mill-ingredients .text-block {
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: 33px;
    margin-bottom: 43px;
    margin-left: 36px;
    z-index: 1;
    flex: 1 1 calc(50% - 36px);
    min-width: calc(50% - 36px);
    max-width: calc(50% - 36px);
}

.mill-ingredients .text-block:last-child {
    margin-left: 0;
    margin-right: 36px;
    margin-bottom: 36px;
    margin-top: 40px;
}

.mill-ingredients .text-block:before {
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    width: calc(100% + 30px);
    height: 100%;
    border: 3px solid #C59D5F;
}

.mill-ingredients .text-block:last-child:before {
    left: -38px;
}

.text-block h3 {
    margin: 0;
    font-size: 24px;
    color: #C59D5F;
    line-height: 1.5;
    text-align: center;
}

.about-mill-block .text-block h3 {
    text-align: center;
}

.about-mill-block .text-block div {
    text-align: justify;
}

@media(max-width: 1250px) {
    .about-mill-block .picture-block {
        height: auto;
        width: 50%;
    }
}

@media(max-width: 800px) {
    .mill-ingredients .text-block,
    .mill-ingredients .text-block:last-child,
    .mill-ingredients .picture-block {
        width: 100%;
        flex: 1 1 100%;
        margin: 20px 0;
	    min-width: auto;
	    max-width: none;
    }
    .mill-ingredients .text-block {
        border: 3px solid #C59D5F;
    }
    .mill-ingredients .text-block:before,
    .mill-ingredients .text-block:last-child:before {
        content: none;
    }
    .mill-ingredients .picture-block {
        height: 150px;
    }
    .mill-ingredients .picture-block img {
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;
	    transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
    }
}

@media(max-width: 450px) {
    .mill-ingredients .text-block {
        padding: 15px 20px;
    }
    .mill-ingredients .text-block,
    .mill-ingredients .text-block:last-child,
    .mill-ingredients .picture-block {
        margin: 10px 0;
    }
}

.capabilities {
    position: relative;
    background: url("../img/capabilities.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.capabilities-content {
    position: relative;
    padding-top: 30px;
    padding-bottom: 79px;
}

.capabilities .block-title,
.capabilities .section-description {
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
}

.capabilities .block-title,
.capabilities .section-description,
.capabilities .bordered-block div {
    color: #FFFFFF;
}

.capabilities-items {
    padding-top: 60px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.capabilities .bordered-block {
    padding: 45px 30px;
    padding-bottom: 40px;
    margin: 0 30px;
    width: 490px;
    text-align: center;
    box-sizing: border-box;
}
.capabilities-items .bordered-block.on-border-title h3:before {
	margin-right: 5px;
}

.capabilities .bordered-block div {
    line-height: 1.2em;
}

@media(max-width: 850px) {
    .capabilities-items {
        flex-wrap: wrap;
    }
    .capabilities .bordered-block {
        width: 100%;
        margin: 15px;
    }
}

@media(max-width: 450px) {
    .capabilities .bordered-block {
        margin: 15px 0;
        padding: 30px 15px;
    }
}

.our-achievements {
    position: relative;
}

.our-achievements:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/ear.jpg) no-repeat center;
    background-attachment: fixed;
    opacity: 0.15;
}

.our-achievements .landing-block {
    position: relative;
    padding-top: 30px;
    padding-bottom: 25px;
}

.traditions-container {
    margin-top: 25px;
    padding-bottom: 5px;
}

.achievements-content .section-description {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.traditions-container .traditions-photo {
    width: 461px;
    height: 468px;
    margin-bottom: 30px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.traditions-container .traditions-photo img {
    width: auto;
    height: 100%;
}

.traditions-container .traditions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 500px);
    display: inline-block;
    margin-left: 20px;
}

.traditions-container .traditions-list li {
    margin: 10px 0 0 0;
    min-height: 165px;
}


.traditions-container .traditions-list li > * {
    display: inline-block;
    vertical-align: top;
}

.traditions-container .traditions-list li > img {
    margin-top: 5px;
}

.traditions-container .traditions-list li > div {
    width: calc(100% - 120px);
    margin-left: 15px;
}

.traditions-container .traditions-list li h3 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 26px;
    color: #C59D5F;
}

.traditions-container .traditions-list li p {
    margin: 0px;
}

@media(max-width: 1100px) {
    .traditions-container .traditions-photo {
        height: 300px;
        width: auto;
        text-align: center;
    }
    .traditions-container .traditions-list,
    .traditions-container .traditions-photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .traditions-container .traditions-list {
        width: 90%;
    }
    .traditions-container .traditions-list li {
        margin-bottom: 30px;
        min-height: auto;
    }
}

@media(max-width: 500px) {
    .traditions-container .traditions-list li > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .traditions-container .traditions-list li > img {
        display: none;
    }
}

.numbers-block {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: rgba(21, 13, 5, 0.8);
}

.numbers-block .block-title,
.numbers-block .bordered-block div {
    color: #FFFFFF;
}

.numbers-block .bordered-block div {
    font-size: 20px;
}

.numbers-block .numbers-container {
    margin-top: 46px;
    margin-bottom: 25px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.numbers-container .bordered-block {
    width: 300px;
    padding: 20px 20px;
    padding-top: 30px;
    margin: 30px 15px;
    text-align: center;
}

.numbers-container .bordered-block h3 {
    font-size: 60px;
    font-family: "Bookman Bold";
    color: #C59D5F;
    font-weight: bold;
    top: -50px;
}

@media(max-width: 450px) {
    .numbers-container .bordered-block {
        width: 280px;
    }
    .numbers-container .bordered-block h3 {
        font-size: 40px;
        top: -33px;
    }
}

.success-story {
    position: relative;
    padding-top: 30px;
    padding-bottom: 25px;
}
.success-story__container {
    max-width: 1000px;
    padding-top: 55px;
    padding-bottom: 50px;
}

.user-photo-container,
.story-text {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.user-bordered-photo:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 13px;
    display: inline-block;
    border: 3px solid #ECB661;
}

.user-photo-container .user-photo,
.user-bordered-photo:before {
    width: 255px;
    height: 272px;
}

.user-photo-container .user-photo {
    overflow: hidden;
    position: relative;
}
.user-photo-container .user-photo img {
	width: 100%;
}

.user-photo-container .username,
.user-photo-container .usercity {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: rgb(0, 0, 0);
}

.user-photo-container .usercity {
    margin-top: 5px;
    color: #666666;
    font-weight: 300;
}

.story-text {
    width: calc(100% - 330px);
    margin-left: 45px;
    font-size: 22px;
    line-height: 1.2;
}

.story-text p {
    margin: 12px 0 27px 0;
}

@media(max-width: 850px) {
    .user-photo-container .user-photo,
    .user-bordered-photo:before {
        width: 200px;
        height: 200px;
    }
    .user-photo-container .user-photo img {
        width: 100%;
        height: auto;
    }
    .user-photo-container,
    .story-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .user-photo-container {
        display: table;
        width: auto;
    }
}


.video-part {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.video-part .block-title {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.video-container .iframe-container {
    flex: 20 1 400px;
    margin: 0 10px;
}
.video-container .iframe-container iframe {
    height: auto;
    min-height: 433px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

@media(max-width: 700px) {
	.video-container .iframe-container iframe {
		min-height: 300px;
	}
}

.video-part .additional-thesis {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.additional-thesis .thesis-item {
    margin: 12px 10px;
    padding: 30px 20px 18px 20px;
    border: 3px solid #C59D5F;
    background-color: transparent;
    color: #000000;
    text-align: center;
    max-width: 218px;
}

.additional-thesis .thesis-item h3 {
    position: relative;
    font-size: 51px;
    font-family: "Bookman Bold";
    color: #C59D5F;
    font-weight: bold;
    margin: 0;
}

.little-part {
    font-size: 0.5em;
}

.additional-thesis .thesis-item h3:after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #000000;
}

.additional-thesis .thesis-item p {
    margin-top: 5px;
}

.additional-thesis .thesis-item:nth-child(2n+1) {
    background-color: #C59D5F;
}

.additional-thesis .thesis-item:nth-child(2n+1) h3 {
    color: #FFFFFF;
}

.buy-mill {
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
    background: url(../img/nuts.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.buy-mill:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.buy-mill-content {
    position: relative;
    text-align: center;
}

.buy-mill-content .block-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.buy-mill-content .order-terms__block,
.buy-mill-content .block-title,
.buy-mill-content .section-description {
    color: #FFFFFF;
}

.buy-mill-content .section-description {
    margin-top: 12px;
}

.buy-mill-content .order-terms {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buy-mill-content .order-terms__block {
    flex: 1 1 200px;
    margin: 30px 15px;
    text-align: center;
}

.buy-mill-content .order-terms__block h3 {
    margin-top: 10px;
    font-size: 22px;
    color: rgb(245, 194, 97);
    font-weight: bold;
}

.bottom-part {
    background: url(../img/field.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.certificates {
    overflow-x: hidden;
    padding-top: 23px;
    padding-bottom: 20px;
}

.certificates-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certificates .block-title {
    max-width: 1050px;
    font-size: 42px;
    color: rgb(24, 24, 24);
}

@media(max-width: 500px) {
    .certificates .block-title {
        font-size: 30px;
    }
}

.certificates-list__item {
    flex: 1 1 300px;
    max-width: 300px;
    margin: 30px 45px;
}

.certificates-list {
    margin-left: -45px;
    margin-right: -45px;
}

.certificates-list__item .itemname {
    margin-top: 8px;
    font-size: 20px;
    color: rgb(24, 24, 24);
    font-weight: bold;
    text-align: center;
    font-family: "ProximaNova Bold";
}

.certificates-list .certificate-bordered-photo {
    position: relative;
}

.certificates-list .certificate-bordered-photo:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 10px;
    display: inline-block;
    border: 3px solid #6C2329;
}

.certificate-photo,
.certificate-bordered-photo:before {
    width: 266px;
    height: 378px;
}

.certificate-photo {
    position: relative;
    background: #FFFFFF;
}

.certificate-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.contacts-container {
    display: flex;
    align-items: stretch;
}

.contacts-container .block-title {
    color: #C59D5F;
    margin-bottom: 15px;
}

.contacts-container .section-description {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.contacts-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-block {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}

.form-block .form-block-content {
    max-width: 450px;
    margin-right: 35px;
    margin-left: auto;
    text-align: center;
}
form {
    text-align: center;
}
form a, form a:link, form a:visited {
    font-size: 20px;
    text-decoration: none;
    line-height: 1.3;
}

form a:hover,
form a:active {
    font-family: "ProximaNova Bold";
}

form .form-input, form .checkbox-container {
    margin-bottom: 22px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

form .checkbox-container {
    margin-top: 22px;
}

.form-block form {
    margin-top: 35px;
}
.form-block form a,
.form-block form a:link,
.form-block form a:visited,
.form-block form a:hover,
.form-block form a:active,
.form-block form label{
    color: rgb(255, 255, 255);
}
.form-block form .checkbox-container {
    max-width: 300px;
}
.contacts-block {
    padding-top: 20px;
    position: relative;
    width: 60%;
    background-color: rgba(45, 37, 31, 0.8);
    color: rgb(255, 255, 255);
    padding-bottom: 160px;
}

.contacts-block .contacts-block-content {
    max-width: 550px;
    margin-left: 60px;
    margin-right: auto;
    font-size: 20px;
}

.contacts-block .block-title {
    text-align: left;
    margin-bottom: 15px;
}

ul.contacts-links {
    margin-top: 35px;
    margin-bottom: 30px;
}

.contacts-links li {
    padding: 2px 0;
}

.contacts-links li * {
    display: inline-block;
    vertical-align: middle;
}

.contacts-links svg {
    fill: rgb(197, 157, 95);
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

.contacts-links li a,
.contacts-links li a:link,
.contacts-links li span {
    width: calc(100% - 70px);
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 1.3;
}

.contacts-links li a:hover,
.contacts-links li a:active {
    font-family: "ProximaNova Bold";
}

ul.social-networks {
    margin-top: 5px;
    margin-bottom: 0px;
}

.social-networks li {
    display: inline-block;
    border: 3px solid rgb(197, 157, 95);
    margin: 8px;
}

.social-networks li:first-child {
    margin-left: 0px;
}

.social-networks li svg {
    fill: rgb(197, 157, 95);
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.social-networks li:hover svg {
    fill: #FFFFFF;
}

.social-networks li:hover {
    border-color: #FFFFFF;
}

@media(max-width: 950px) {
    .contacts-block {
        padding-bottom: 200px;
    }
}

@media(max-width: 400px) {
    .contacts-block {
        padding-bottom: 250px;
    }
}
@media(max-width: 900px) {
    .contacts-container {
        display: block;
    }
    .form-block .form-block-content,
    .contacts-block .contacts-block-content,
    .form-block,
    .contacts-block {
        width: 100%;
        max-width: none;
    }
    .contacts-block .contacts-block-content {
        width: calc(100% - 100px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 450px) {
    .contacts-block .contacts-block-content {
        width: calc(100% - 30px);
    }
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(51, 51, 51, 0.8);
    box-sizing: border-box;
}

footer a,
footer a:visited,
footer a:link {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
    opacity: 0.5;
}

footer a:hover,
footer a:active {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
}

footer > div {
    margin: 0 20px;
    flex: 1 1 200px;
    line-height: 1.5;
}
